*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


body{
	font-family: "Roboto";
	font-weight: 300;
}
.container{
	max-width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
.header{
	position: relative;
	background: url(../img/header_bg.jpg) center no-repeat ;
	background-size: cover;
	padding: 15px 0 70px;
}
.overlay:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: -moz-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
  	background-image: -webkit-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
  	background-image: -ms-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
  	opacity: 0.851;
  	z-index: 1;
}
.header__head{
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__list{
	display: flex;
}
.header__list li{
	margin: 0 0 0 25px;
}
.header__link{
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
}
.header__link:hover{
	color: #00e0d0;
}
.header__body{
	position: relative;
	padding: 230px 0 0 0;
	z-index: 1;
}
.header__slider-item{
	max-width: 780px;
	flex:  0 1 780px;
	text-align: center;
	margin: 0 auto;
}
.title{
	font-family: "Playfair Display";
}
.title-main{
	font-weight: 700;
	font-size: 22px;
	color: #413d4b;
	text-transform: uppercase;
}
.subtitle{
	font-size: 14px;
	color: #2f2d35;
}
.title_line:after{
	content: "";
	display: block;
	width: 50px;
	height: 1px;
	background: #00e0d0;
	margin: 27px auto 30px;
}
.description{
	font-size: 14px;
	color: #413d4b;
	line-height: 22px;
}
.header__title-main{
	font-weight: 900;
	font-size: 32px;
	color: #fff;
	text-transform: capitalize;
}
.header__description{
	color: #fff;
	line-height: 24px;
}
.btn{
	font-family: "Hammersmith One";
	display: inline-block;
	color: #00e0d0;
	border: 1px solid #00e0d0;
	padding: 12px 24px;
	border-radius: 2px;
	text-transform: uppercase;
}
.header__slider-item__btn{
	margin: 53px 0 0 0;
}
.header__slider .slick-list{
	overflow: hidden;
}
.header__slider .slick-track{
	display: flex;
	align-items: flex-start;
}
.header__slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 127px 0 0px;
}
.header__slider .slick-dots li{
	margin: 0 5px;
}
.header__slider .slick-dots button{
	font-size: 0;
	width: 12px;
  	height: 12px;
  	border: 1px solid #c2c2c2;
  	border-radius: 50%;
  	background-color: transparent;
}
.header__slider .slick-dots li.slick-active button{
	background: #00e0d0;
}
.about__content{
	padding: 70px 0 70px 60px;
	display: flex;
	justify-content: space-between;
}
.about__image{
	flex: 0 1 75%;
	margin: 0 100px 0 0;
}
.about__image img{
	max-width: 100%;
}
.about__title{
	margin: 0 0 28px 0;
}
.about__description p{
	margin: 0 0 31px 0;
	text-align: justify;
}
.about__video{
	position: relative;
	width: 100%;
	height: 50vh;
	background: url('../img/about/about_bg.jpg') center no-repeat;
	background-size: cover;
}
.about__link{
	position: relative;
	z-index: 2;

	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.about__img{
	display: flex;
	width: 94px;
	height: 94px;
	border: 3px solid #fff;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	margin: 0 auto 34px ;

}
.about__sign{
	color: #fff;
	font-size: 16px;
	font-weight: 900;
	text-transform: uppercase;
}
.expertise__body{
	padding: 71px 0 104px;
}
.expertise__title{
	text-align: center;
}
.expertise__subtitle{
	margin: 16px 0 0 0;
}
.expertise__title:after{
	background: #c6c4c9;
	margin: 18px auto 84px;
}
.expertise__row{
	display: flex;
	padding: 0 0 40px 0;
	margin: 44px 0 0 0;
	border-bottom: 1px solid #ebebeb;
}
.expertise__row:last-child{
	display: flex;
	margin: 44px 0 0 0;
	border-bottom: none;
}
.expertise__column{
	flex: 0 0 33.333%;
	justify-content: space-between;
	padding: 0 31px;
}
.item-expertise{
	text-align: center;
}
.item-expertise__icon{
	width: 50px;
	height: 50px;
	margin: 0 auto 34px;
}
.item-expertise__title{
	font-weight: 900;
	font-size: 14px;
	text-transform: uppercase;
}
.item-expertise__text{
	font-size: 14px;
	line-height: 22px;
}
@media(max-width: 767px){
	.header__burger{
		display: block;
		position: relative;
		z-index: 5;
		width:30px;
		height: 20px;
	}
	.header__burger:before,
	.header__burger:after{
		content:'';
		background: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left:0;
		transition: all 0.3s ease 0s;
	}
	.header__burger span{
		position: absolute;
		background: #fff;
		left:0;
		width: 100%;
		height: 2px;
		top:9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before{
		top:0;
	}
	.header__burger:after{
		bottom:0;
	}
	.header__burger.active span{
		transform: scale(0);
	}
	.header__burger.active:before{
		transform: rotate(45deg);
		top:9px;
	}
	.header__burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__menu{
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background: #2d274c;
		padding: 100px 0 0 20px;
		transition: all 0.3s ease 0s;
		overflow:auto;
	}
	.header__list{
		display: block;
	}
	.header__list li{
		margin: 0px 0 30px 0;
	}
	.header__link{
		font-size: 20px;
	}
	.header__menu.active{
		top:0;
	}
	.header__body{
		padding: 180px 0 0;
	}
	.header__slider .slick-dots{

		padding: 35px 0 0px;
	}
	.header__slider .slick-dots button{
		width: 15px;
	  	height: 15px;
	}
	.about__content {
   	padding: 35px 0 35px 30px;
 	}
 	.about__image {
   	margin: 0 50px 0 0;
	}
	.expertise__column{
		padding: 0 15px;
	}
	.item-expertise__text{
		font-size: 12px;

	}
}
@media(max-width: 640px){
	.header__title-main{
		font-size: 24px;
	}
	.header__description{
		font-size: 12px;
		line-height: normal;
	}
	.about__content {
    	padding: 35px 0 35px 0px;
	}
	.about__image {
    display: none;
	}
	.about__title{
		text-align: center;
	}
	.btn-wrapper{
		text-align: center;
	}
	.expertise__title:after{
		margin: 18px auto 44px;
	}
	.expertise__row{
		flex-direction: column;
		align-items: center;
	}
	.expertise__column{
		flex: 0 0 0;
		max-width: 255px;
		margin: 0 0 30px 0 ;
	}
	.expertise__column:last-child{
		margin: 0 0 0px 0 ;
	}
}
@media(max-width: 480px){
	.header__body{
		padding: 130px 0 0 0;
	}
	.title-main{
		font-size: 20px;
	}
	.header__description{
		font-size: 12px;
		line-height: 14px;
	}
	.about__description{
		font-size: 12px;
		line-height: 15px;
	}
}

@media(max-height: 500px){
	.header__body{
		padding: 100px 0 0 0;
	}
	.header__slider .slick-dots{
		padding: 20px 0 0 0;
	}
}